<section class="main container">
    <!--ACERCA DE-->
    <div class="row">
        <section class="posts col-md-20">
            <article class="post clearfix">
                <h2 class="post-title" id="acercade">ACERCA DE...</h2>
                <a href="#" class="thumb pull-left">
                    <img class="img-thumbnail"
                        [src]="acercade.fotoperfil"
                        alt="foto de perfil">
                </a>
                <p class="post-contenido text-justify">
                    {{acercade.descAcercade}}
                </p>
            </article>
        </section>
    </div>
</section>