<section class="main container">
    <!--EDUCACION-->
    <div class="row">
      <section class="posts col-md-20">
        <article class="post clearfix">
          <h2 class="post-title" id="educacion">EDUCACIÓN</h2>
          
          <ul style="list-style:none; columns: 2;">
            <li *ngFor="let edu of educacionList">
              <p class="post-contenido text-justify lead">
                <br>
                <strong>{{edu.titulo}}</strong>
                <br>
                <small class="text-muted">{{edu.institucion}}</small>
                <br>
                <small class="text-muted">{{edu.lugarfecEd}}</small>
                <br>
                <br>
              </p>
            </li>
          </ul>
          
          <!--div class="row">
            <div class="col-sm-6">
              <p class="post-contenido text-justify lead">
                <br>
                <strong>CURSO DE CIBERSEGURIDAD</strong>
                <br>
                <small class="text-muted">– Fundación Telefónica Movistar</small>
                <br>
                <small class="text-muted">Salta, Argentina (06/10/2022 – 02/02/2023)</small>
                <br>
                <br>
              </p>
  
              <p class="post-contenido text-justify lead">
                <strong>SEGUNDA ETAPA ARGENTINA PROGRAMA</strong>
                <br>
                <small class="text-muted">Programa Nacional y Federal</small>
                <br>
                <small class="text-muted">Salta, Argentina (18/10/2022 – Actualidad)</small>
                <br>
                <br>
              </p>
  
              <p class="post-contenido text-justify lead">
                <strong>CURSO DE REDES INFORMÁTICAS</strong>
                <br>
                <small class="text-muted">Fundación Telefónica Movistar</small>
                <br>
                <small class="text-muted">Salta, Argentina (25/09/2022 – 06/10/2022)</small>
                <br>
                <br>
              </p>
            </div>
            <div class="col-sm-6">
              <p class="post-contenido text-justify lead">
                <br>
                <strong>PRIMERA ETAPA ARGENTINA PROGRAMA</strong>
                <br>
                <small class="text-muted">Programa Nacional y Federal</small>
                <br>
                <small class="text-muted">Salta, Argentina (10/06/2022 – 06/08/2022)</small>
                <br>
                <br>
              </p>
  
              <p class="post-contenido text-justify lead">
                <strong>INGENIERÍA EN INFORMÁTICA</strong>
                <br>
                <small class="text-muted">Universidad Católica de Salta</small>
                <br>
                <small class="text-muted">Salta, Argentina (01/2019 – Actualidad)</small>
                <br>
                <br>
              </p>
  
              <p class="post-contenido text-justify lead">
                <strong>BACHILLER EN CIENCIAS NATURALES</strong>
                <br>
                <small class="text-muted">Colegio Belgrano</small>
                <br>
                <small class="text-muted">Salta, Argentina (03/2013 – 12/2018)</small>
                <br>
                <br>
              </p>
            </div>
          </div-->
        </article>
      </section>
    </div>
</section>  