<!-- JUMBOTRON -->
<section class="jumbotron">
    <div class="container">
        <h1 class="tituloprincipal">{{miPorfolio.nombre}}</h1>
        <p class="desc">{{miPorfolio.descripcion}}</p>
    </div>
</section>

<style>
    .jumbotron {
        /*background-color: #509e6d;*/
        /*color: white;*/
        padding: 125px 0;
        /*background-image: url("https://i.pinimg.com/564x/48/3b/ea/483beab578cab9efe79daf14182e5fad.jpg");*/
        background-image: url("https://img.freepik.com/vector-gratis/textura-granulada-degradada_23-2148976750.jpg");
        background-size: cover;
        background-position: center;

    }

    .jumbotron .tituloprincipal {
        font-size: 80px;
        /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
        font-family: poppins;
        font-weight: bolder;
        color: #FF9700;
    }

    .jumbotron .desc {
        font-size: 30px;
        /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
        /*color: #215ebb;*/
        color: white;
        /*font-style: italic;*/
    }
</style>