<section class="main container">
  <!--EXPERIENCIA-->
  <div class="row">
    <section class="posts col-md-20">
      <article class="post clearfix">
        <h2 class="post-title" id="experiencia">EXPERIENCIA</h2>

        <ul style="list-style:none;">
          <li *ngFor="let exp of experienciaList">
            <p class="post-contenido text-justify lead">
              <br>
              <strong>{{exp.puesto}}</strong>
              <br>
              <small class="text-muted">{{exp.empresa}}</small>
              <br>
              <small class="text-muted">{{exp.lugarfecha}}</small>
              <br>
              {{exp.descexp}}
              <br>
            </p>
          </li>
        </ul>
        <!--p class="post-contenido text-justify lead">
            <br>
            <strong>PRÁCTICA PROFESIONAL SUPERVISADA DE TÉCNICO INFORMÁTICO</strong>
            <br>
            <small class="text-muted">Litio Minera Argentina</small>
            <br>
            <small class="text-muted">Salta, Argentina (16/09/2021 – 03/11/2021)</small>
            <br>
            Durante mi práctica profesional en Litio Minera Argentina, fui parte del equipo de soporte
            técnico informático, encargado de brindar asistencia técnica a los empleados de la empresa.
            Durante este período, desarrollé habilidades de resolución de problemas y aprendí a trabajar en
            equipo en un entorno de trabajo profesional.
            <br>
          </p>
  
          <p class="post-contenido text-justify lead">
            <br>
            <strong>AUDITORÍA DEL VOTO ELECTRÓNICO EN ELECCIONES PROVINCIALES</strong>
            <br>
            <small class="text-muted">Universidad Católica de Salta</small>
            <br>
            <small class="text-muted">Salta, Argentina (03/04/2023 – Actualidad)</small>
            <br>
            Actualmente, formo parte del equipo de auditoría del voto electrónico en las elecciones
            provinciales en la Universidad Católica de Salta. Mi trabajo consiste en analizar el software y
            hardware utilizados en el proceso de votación electrónica para garantizar la integridad y
            seguridad de las elecciones. Esta experiencia me ha permitido desarrollar habilidades en
            ciberseguridad y aprender sobre los sistemas de votación electrónica.
            <br>
          </p>
  
          <p class="post-contenido text-justify lead">
            <br>
            <strong>GANADORA DEL CONCURSO CTF DE CIBERSEGURIDAD</strong>
            <br>
            <small class="text-muted">Universidad Católica de Salta</small>
            <br>
            <small class="text-muted">Salta, Argentina (2022)</small>
            <br>
            En el año 2022, participé en el Concurso CTF de Ciberseguridad organizado por la Universidad
            Católica de Salta y fui seleccionada como ganadora. Este concurso me permitió poner en práctica
            mis habilidades en ciberseguridad para resolver desafíos relacionados con la seguridad
            informática.
          </p-->
      </article>
    </section>
  </div>
</section>